/*Global*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15em;
}

body {
    background-color: #072C30;
    color: #F7F5FB;
}

@font-face {
    font-family: "Futura";
    src: local url("Futura Book font.ttf") format("ttf");
}

img.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    opacity: .02;
    z-index: -1;
}


/*Navigation*/

.navContainer {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .01em 1em 0px black;
    background-color: #072C30;
    padding: 1em 3em;
    z-index: 9999;
}

.navigationList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.navigationList>a>li::marker {
    color: #44A1D4;
}

.navigationList>a {
    font-family: "Glegoo", serif;
    color: #C2BABA;
    text-decoration: none;
}

.navigationList>a:hover {
    color: #3E8DB9;
    cursor: pointer;
}


/*Hero Section*/

.hero {
    height: 90vh;
    display: grid;
    box-sizing: border-box;
    place-content: center;
    text-align: center;
    justify-items: center;
}

.name {
    margin-bottom: 20px;
    font-family: "Glegoo", serif;
    font-weight: 200;
    font-size: 3.5em;
}

.hook {
    margin-bottom: 1rem;
    font-family: "Futura", sans-serif;
    font-weight: 100;
    color: #44A1D4;
    letter-spacing: .01em;
}

.bio {
    width: 50%;
    font-family: "Futura", sans-serif;
    font-weight: 100;
}


/*About Section*/

.aboutMe {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: #121414;
    padding: 1.5%;
    border-radius: .5em;
    box-shadow: 0 .1em .75em 0px #041e20;
    margin-top: 40%;
}

.aboutTitle {
    font-family: "Glegoo", serif;
    font-weight: 500;
    font-size: 2em;
    margin-top: -.2%;
    color: #C2BABA;
}

.aboutMe>p {
    font-family: "Futura", sans-serif;
    font-weight: 100;
    letter-spacing: .01em;
}

.solutions,
.aboutNumber {
    color: #44A1D4;
}

.tech {
    columns: 2;
    font-family: "Glegoo", serif;
}

.tech>li::marker {
    color: #44A1D4;
}

.xp {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    background-color: #121414;
    padding: 1.5%;
    border-radius: .5em;
    box-shadow: 0 .1em .75em 0px #041e20;
    margin-top: 40%;
}

.xpTitle {
    font-family: "Glegoo", serif;
    font-weight: 500;
    font-size: 2em;
    margin-top: -.2%;
    color: #C2BABA;
}

.xp>p {
    font-family: "Futura", sans-serif;
    font-weight: 100;
    letter-spacing: .01em;
}

.xpNumber {
    color: #44A1D4;
}

.comingSoon {
    text-align: center;
    font-family: "Glegoo", serif;
    letter-spacing: .2em;
    margin-top: 2em;
}

.work {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 35%;
}

.workTitle {
    font-family: "Glegoo", serif;
    font-weight: 500;
    font-size: 2em;
    margin-top: -.2%;
    color: #C2BABA;
}

.workNumber {
    color: #44A1D4;
}

img.github {
    position: fixed;
    bottom: 20px;
    left: 20px;
    filter: invert(1);
}

img.github:hover {
    filter: invert(48%) sepia(66%) saturate(411%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

img.twitter {
    position: fixed;
    bottom: 20px;
    left: 80px;
    filter: invert(1);
}

img.twitter:hover {
    filter: invert(48%) sepia(66%) saturate(411%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

img.linkedin {
    position: fixed;
    bottom: 20px;
    left: 140px;
    filter: invert(1);
}

img.linkedin:hover {
    filter: invert(48%) sepia(66%) saturate(411%) hue-rotate(157deg) brightness(92%) contrast(92%);
}

/*Do not display toggler for screen size 1200px+*/
@media screen and (min-width:1200px) {
    .toggler {
        display: none;
    }
}

@media screen and (max-width:376px) {

    /*Navigation*/
    .logo {
        width: 3rem;
        height: 3rem;
    }

    /*Hero*/
    .name {
        font-size: 2.5em;
    }

    .hook {
        width: 50%;
    }
}